:root {
    --mainBlue: #474EA9;
    --lightBlue: #3D43A5;
    --mainWhite : #f3f3f3;
    --mainDark : #232528;
    --mainBlack: #000000;
    --mainMaroon: #FF5064;
}

html {
    font-size: 14px;
}
body {
    background: var(--mainWhite);
    color: var(--mainDark);
    font-family: 'Glegoo', serif;
    font-size: 1rem;
}

#logo {
    width: 30px;
    margin-right: 20px;
}

.nav-link {
    font-size: 1rem!important;
    transition: all 0.2s ease;
}

.nav-link:hover {
    font-weight: bold;

}
.nav-link.active-page  {
    // text-decoration: underline;
    font-weight: bold;
    position: relative;
    &:after {
        position: absolute;
        content: '';
        width: 100px;
        height: 1px;
        background: var(--mainWhite);
        left: 0;
        right: 0;
        margin: auto;
        bottom: 5px;
    }
}
.text-title {
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}

.text-blue {
    color: var(--mainBlue);
}

.modal {
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    opacity: 1;
    background: rgba(0,0,0,0.5);
}
.nav-link {
    letter-spacing: 2px;
}

.banner {
    width: 100%;
    height: calc(100vh - 105px - 49px);
    min-height: 400px;
    background: var(--mainBlack);
    position: relative;
    overflow: hidden;

    span.design1 {
        background: #3D43A5;
        width: 15vw;
        height: 150vh;
        transform: rotate(-52deg);
        position: absolute;
        transform-origin: top left;
        top: 40vh;
        left: -15vw;
        &:after {
            background: #474EA9;
            content: '';
            width: 60%;
            height: 100%;
            top:0;
            left: 0;
            position: absolute;
        }
    }

    span.design2, span.design3 {
        width: 0; 
        height: 0; 
        border-left: 108px solid transparent;
        border-right: 491px solid transparent;
        border-bottom: 284px solid #FF5064;
        position: absolute;
        transform: rotate(30deg);
        left: 23px;
        top: -146px;
        position: absolute;
    }

    span.design3 {
        transform: rotate(53deg);
        left: 209px;
        top: -303px;
        border-left: 176px solid transparent;
    }

    
    img {
        position: absolute;
        left: 10vw;
        top:100px;
        bottom: 0;
        margin: auto;
        width: auto;
        height: 50vh;
    }
    
    h2 {
        color: var(--mainBlack);
        position: absolute;
        right: 25vw;
        bottom: calc(50% - 14vw);
        padding: 20px 40px;
        background: rgba(255, 255, 255, 0.3);
        text-transform: uppercase;
        transform: rotate(90deg);
        transform-origin: right bottom;
        font-size: 2.5vw;
        /* top: 0; */
        margin: auto;   
    }
}

i.fa.fa-trash.text-blue {
    cursor: pointer;
    transition: all .15s ease;
    &:hover {
        color: #dc3545;
    }
}

.cart-img {
    width: 5rem;
    height: 5rem;
}

div#paypal-button {
    max-width:200px;
    margin-left: auto;
}
@media screen and (max-width: 1100px) {
    html {
        font-size: 14px;
    }
}



@media screen and (max-width: 990px) {
    .cart-img {
        width: auto;
        height: auto;
    }

    html {
        font-size: 18px;
    }
}

@media screen and (max-width: 500px) {
    html {
        font-size: 16px;
    }

    .display-4 {
        font-size: 3.2rem;
    }

    .banner h2 {
        transform: none;
        right: auto;
        left:10vw;
        bottom:auto;
        top:20px;
        font-size: 1rem;

    }

    .navbar-nav {
        flex-direction: row;
    }
}
